<%- include('partial/header'); %>

<label id="table"><%= table %></label>

<p>Please select menus and confirm your order</p>

<input class="searchbar" type="text" placeholder="Search for a menu">

<body>
    <form action="/drink" method="post">
    <div class="row user">
        <div class="column col-md-6">

            <div class="row">
                <div class="column col-md-3 col-xs-3 menubtn"><button id="menubtn" formaction="/maindish">Main</button></div>
                <div class="column col-md-3 col-xs-3 menubtn"><button id="menubtn" formaction="/sidedish">Side</button></div>
                <div class="column col-md-3 col-xs-3 menubtn"><button id="menubtn" formaction="/sauce">Sauce</button></div>
                <div class="column col-md-3 col-xs-3 menubtn"><button id="menubtn" disabled="true">Drink</button></div>
            </div>

            <%  drinkMenus.forEach(function(e){ %>
                <div class="menu row">
                    <div class="column col-md-6">
                        <img id="menu" src="<%= e.imgsrc %>">
                    </div>
                    <div class="column col-md-6">
                        <label class="name"><%= e.name %></label>
                        <label class="description"><%= e.description %></label>
                        <label class="price"><%= e.price %>B</label>
                        <button id="add" type="submit" name="add" value="<%=e.name%>">Add</button>
                    </div>
                </div>
             <% }); %>

        </div>

        <div class="column col-md-2" id="selected">
            <p class="title">Selected</p>

            <% for (var i = 0; i < orderLists.length; i++) { %>
                <div class="list">
                    <label id="name"><%= orderLists[i].name %></label>
                    <label id="price"><%= orderLists[i].price %>B</label>
                    <button id="remove" type="submit" name="remove" value="<%= orderLists[i].name %>">remove</button>
                    <button id="remove" type="submit" name="remove" value="<%= orderLists[i]._id %>">remove</button>
                </div>
            <% } %>
                
            <% if (orderLists.length > 0) { %>
                <textarea id="request" type="text" name="request" placeholder="Type your request"></textarea>
            <button id="confirm" type="submit" name="confirm">confirm</button>
            <% } %>
            
        </div>

        <div class="column col-md-4" id="orderlist">
            <p class="title">Order List</p>
                <button id="confirm" type="submit" name="confirm" value="<%= table %>">confirm</button>
            <% } %>

        </div>

        <div class="column col-md-4" id="orderlist">
            
        </div>
    </div>
</form>
</body>